# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment and packages
.env
venv/
.venv/

# OS and IDE
.DS_Store
.vscode/
*.code-workspace

# Data / models
*.pkl
*.csv
*.txt
